# Database mode: excel | sheets | sqlite
DATABASE_MODE=excel
EXCEL_FILE_PATH=./data/taskDB.xlsx

# Google Sheets (ถ้า DATABASE_MODE=sheets)
# GOOGLE_SHEETS_ID=1nBsja_rY21xjgzdQtidNC2-qspENlYxko9VbZQ307Gs
# GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
